#d {
           position: fixed;
           bottom: 1px;
           left: 50%;
           transform: translateX(-50%);
       }
       
       h1 {
           color: white;
           font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
           text-shadow: 2px 2px 0 black, 4px 4px 0 black, 6px 6px 0 black;
           font-size: 40px;
           letter-spacing: 10px;
           text-align: center;
       }

       button {
           background-color: transparent;
           color: white;
           border: 2px solid transparent;
           padding: 10px 20px;
           border-radius: 5px;
           font-size: 16px;
           cursor: pointer;
           animation: loopBorderColors 4s linear infinite;
       }

       @keyframes loopBorderColors {
           0% { border-color: rgb(4, 246, 250); }
           50% { border-color: black; }
           100% { border-color: rgb(0, 255, 255); }
       }
       button:hover{
        color: aqua;
       }
       .img3{
        opacity: 1;
        animation-name: imgani;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
       }
       @keyframes imgani{
        0%{opacity: 0.0;}
        20%{opacity: 0.2;}
        40%{opacity: 0.4;}
        60%{opacity: 0.6;}
        80%{opacity: 0.8;}
        80%{opacity: 1;}
       }
    